<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
      Esta aplicación está dirigida para el Colegio del Exito, para el registro, edición, eliminación y busqueda de alumnos, esta aplicacion fue lanzada el año 2022, y sus creadores son Joseph Saravia y Alex Cartes
    </p>
  </div>
</section>
