<p><a href="/edad">Ver a todos los alumnos con una edad en particular</a></p>

<p><a href="/ciudad">Ver a todos los alumnos de una ciudad en particular</a></p>

<p><a href="/curso">Ver a todos los alumnos con un curso en especifico</a></p>

