<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">Nuevo Alumno: </h3>
    </div>
    <div class="card-body text-right">
      <form action="/notes/new-note" method="POST">
        <div class="mb-3">
          <label for="title">Nombre alumno:</label>
          <input
            type="text"
            name="nombre_alumno"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
       <div class="mb-3">
          <label for="title">RUT:</label>
          <input
            type="text"
            name="rut"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="title">Edad:</label>
          <input
            type="text"
            name="edad"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="title">Curso:</label>
          <input
            type="text"
            name="curso"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="title">Ciudad:</label>
          <input
            type="text"
            name="ciudad"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="title">Sexo:</label>
          <input
            type="text"
            name="sexo"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="title">Direccion:</label>
          <input
            type="text"
            name="direccion"
            class="form-control"
            placeholder=""
            autofocus
          />
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>